body{
  background-color: #ffffff;
  margin: 0;
  font-synthesis: none;
}

@font-face {
  font-family: Barbarian;
  src: url("fonts/Barbarian.ttf");
}

@font-face {
  font-family: Grusskarten;
  src: url("fonts/GrusskartenGotisch.ttf");
}

@font-face {
  font-family: Palyrin;
  src: url("fonts/Palyrin.otf")
}

.yes {
  text-align: center;
  margin: 0;
  padding-left: 30px;
  color: #d3d2cd; 
  font-family: Barbarian;
  font-size: 5rem;
}

.play-anim {
  animation: flyingText 0.2s ease forwards;
}

.reverse-anim {
    animation: flyingTexta 0.2s ease forwards;
}

@keyframes flyingText {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 71.4vw;
  }
}

@keyframes flyingTexta {
  from {
    margin-left: 71.4vw;
  }
  to {
    margin-left: 0;
  }
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 4.5vw; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  transition-delay: 200ms;
}

/* The navigation menu links */
.sidenav a {
  padding: 1vw 1vw 1vw 3vw;
  text-decoration: none;
  font-family: Grusskarten;
  font-size: 4vw;
  color: #818181;
  display: block;
  transition: 0.5s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3vw;
}

.border {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  margin-right: 0;
  transition: 0.5s;
  transition-delay: 200ms;
}

*{
  box-sizing: border-box;
}

.openNav{
  color: white;
  cursor: pointer;
  margin-right: 1.2vw;
  font-size: 2.5vw;
}

.temp{
  background-color: #818181;
  height: 28.3vw;
  background-image: url("images/divbackground.jpg");
}

.temp img {
  padding-top: 0.3vw;
  max-height: 28vw;
  height: auto;
  display: block;
  margin: auto;
}

.text{
  margin-left: 3vw;
  margin-right: 3vw;
  font-family: Palyrin;
  font-size: 3rem;
}

@media (max-width: 480px) {
  .text {
    margin-left: 3vw;
    margin-right: 3vw;
    font-family: Palyrin;
    font-size: 5rem;
  }
  .yes {
    text-align: center;
    margin: 0;
    padding-left: 30px;
    color: #d3d2cd; 
    font-family: Barbarian;
    font-size: 10rem;
  }
}